# Java
**/target/
*.class
*.jar
*.war

# Maven
**/.mvn/
.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Angular
**/node_modules/
**/dist/
.angular/
coverage/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db