*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

/* Background */

.login-container{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at top,#5b21b6 0%,#0b1120 45%,#050816 100%);

    padding:40px;
}

/* Card */

.login-card{

    width:500px;

    padding:40px;

    border-radius:20px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.12);

    box-shadow:
        0 0 25px rgba(139,92,246,.45),
        0 0 80px rgba(139,92,246,.15);
}

/* Form */

.login-card form{

    display:flex;

    flex-direction:column;

    gap:20px;
}

/* Heading */

.login-card h1{

    color:white;

    text-align:center;

    font-size:42px;

    font-weight:700;

    margin-bottom:10px;
}

.login-card p{

    text-align:center;

    color:#d1d5db;

    margin-bottom:20px;

    font-size:17px;
}

/* Form Group */

.form-group{

    display:flex;

    flex-direction:column;
}

/* Labels */

.form-group label{

    color:white;

    margin-bottom:8px;

    font-size:16px;

    font-weight:500;
}

/* Inputs */

.form-group input{

    width:100%;

    padding:15px;

    border-radius:12px;

    border:1px solid rgba(255,255,255,.15);

    background:rgba(255,255,255,.05);

    color:white;

    outline:none;

    font-size:16px;

    transition:.3s;
}

.form-group input::placeholder{

    color:#9ca3af;
}

.form-group input:focus{

    border-color:#8b5cf6;

    box-shadow:0 0 12px rgba(139,92,246,.5);
}

/* Error */

.error{

    color:#ff6b6b;

    font-size:13px;

    margin-top:5px;
}

/* Button */

.login-btn{

    width:100%;

    margin-top:10px;

    padding:15px;

    border:none;

    border-radius:12px;

    background:linear-gradient(135deg,#7c3aed,#a855f7);

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.login-btn:hover{

    transform:translateY(-2px);

    box-shadow:0 0 20px rgba(168,85,247,.6);
}

.login-btn:disabled{

    background:#5b5b5b;

    cursor:not-allowed;

    box-shadow:none;
}

/* Footer */

.signup-text{

    text-align:center;

    color:#d1d5db;

    margin-top:20px;
}

.signup-text a{

    color:#a855f7;

    text-decoration:none;

    font-weight:600;
}

.signup-text a:hover{

    color:#c084fc;
}
